ion-content {
  --background: #000000;
}

#container {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  padding-top: 20px;
}

h3 {
  font-size: 18px;
  color: #ffffff;
}

h1 {
  font-size: 36px;
  margin: 20px 0;
  color: #ffffff; 

ion-row {
  width: 100%;
  display: flex;
  justify-content: space-around;
  margin-top: 10px;
}

ion-col {
  display: flex;
  justify-content: center;
}

ion-button {
  width: 60px;
  height: 60px;
  font-size: 24px;
  --border-radius: 10px;
  --background: #e0e0e0;
  --color: #000;
  margin: 5px;
}

ion-button.digitos-button {
  --background: #fff;
  --color: #000;
}

ion-button.resetar-button {
  width: calc(60px * 2 + 5px); 
  --background: #ff5c33;
  --color: #fff;
}

ion-button.calcular-button {
  width: calc(60px * 2 + 5px);
  --background: #4d94ff;
  --color: #fff;
}

/* Mobile */
@media only screen and (max-width: 768px) {
  h1 {
    font-size: 28px;
  }
  
  ion-button {
    width: 50px;
    height: 50px;
    font-size: 20px;
  }
}
