ion-content {
  --background: #000000;
}

#container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 20px;
}

h3 {
  font-size: 18px;
  color: #ffffff;
}

h1 {
  font-size: 36px;
  margin: 20px 0;
  color: #ffffff;
}

.resultado {
  text-align: right;
  width: 100%;
  font-size: 36px;
  color: #ffffff;
}

ion-row {
  width: 100%;
  display: flex;
  justify-content: space-around;  
}

ion-col {
  flex: 1;  
  display: flex;
  justify-content: center;  
  align-items: center;  
}

ion-button {
  width: 60px;
  height: 60px;
  font-size: 24px;
  --border-radius: 10px;
  --background: #e0e0e0;
  --color: #000;
  margin: 5px;
}

ion-button.digitos-button {
  --background: #fff;
  --color: #000;
}

ion-button.resetar-button {
  width: calc(60px * 2 + 5px);
  --background: #ff5c33;
  --color: #fff;
}

ion-button.calcular-button {
  width: calc(60px * 2 + 5px);
  --background: #4d94ff;
  --color: #fff;
}

 
ion-button.zero-button {
  grid-column: span 2;  
}

 
ion-button.equals-button {
  grid-column: span 1;  
}

 
@media only screen and (max-width: 768px) {
  h1 {
    font-size: 28px;
  }
  
  ion-button {
    width: 50px;
    height: 50px;
    font-size: 20px;
  }
}

 
@media only screen and (min-width: 769px) {
  h3 {
    font-size: 24px; 
  }

  h1 {
    font-size: 48px;  
    margin: 40px 0; 
  }

  ion-button {
    width: 80px;  
    height: 80px;  
    font-size: 32px;  
    margin: 10px;  
  }

  ion-button.resetar-button,
  ion-button.calcular-button {
    width: calc(80px * 2 + 10px);  
  }
}